<h1>Exercice Liste</h1>

{% set tabNom = [idris,mamhoudou,abdel,francis,wahib,axil,Marzouk]%}
{% set tabPrenom = [Agg,Goums,Benjedou,Virginus,Abbaci,BigAxil,bankole]%}

{% for tab1 %}
    {% tab1[1] %}
{% endfor %}
    