<h1>Visiteur par ville</h1>

{{ dump(visiteurs) }}

{% for vis in visiteurs %}

<li><strong>Prenom: </strong>{{vis.prenom}}</li>
<li><strong>Nom: </strong>{{vis.nom}}</li>
<li><strong>noméro: </strong>{{vis.prenom}}</li>



{% endfor %}