<h1>Visiteur par ville</h1>

{{ dump(visVilNum) }}

{% for visVilNum in visiteurs %}

<li><strong>Prenom: </strong>{{vis.prenom}}</li>
<li><strong>Nom: </strong>{{vis.nom}}</li>
<li><strong>numéro: </strong>06.06.06.06.06</li>



{% endfor %}